# check command exists
local exist() {
  type $1 2>&1 > /dev/null
}
exist eza     && {alias ls="eza --icons --git --group"; alias tree="ls --tree"}
exist nvim    && alias vim=nvim
exist lazygit && alias lg="lazygit"
exist paru    && alias pa="paru --sudoloop"
exist gdb     && alias bt="gdb -nh -q --batch \
        -ex 'set print thread-events off' \
        -ex 'run' -ex 'bt' --args"

alias ll="ls -l"
alias la="ls -a"
alias lla="ls -al"
alias lal="ls -al"

alias code="code-insiders"
alias dc="docker compose"

alias cd-temp='cd $(mktemp -d)'
alias cls="clear"
alias :q="exit"
alias reloadrc="tmux source-file ~/.tmux.conf; source ~/.zshrc"
alias cformat="find . -regextype sed -regex '^.*\.\(c\(pp\)\?\|h\(pp\)\?\)$' | xargs clang-format -i"

