# check command exists
local exist() {
  type $1 2>&1 > /dev/null
}
exist exa  && alias ls="exa --icons --git"; alias tree="ls --tree"
exist nvim && alias vim="nvim"
exist bat  && alias cat="bat"

alias ll="ls -l"
alias la="ls -a"
alias lla="ls -al"
alias lal="ls -al"
alias cls="clear"
alias :q="exit"



