[init]
	defaultBranch = main
[commit]
	gpgsign = true
[branch]
	sort = -committerdate
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[user]
	email = watasuke102@gmail.com
	name = watasuke102
[alias]
	ch   = checkout
	sw   = switch
	b    = branch
	f    = fetch
	sync = remote update -p
	spu  = stash push -u
	spo  = stash pop
	sa   = stash apply
	sls  = stash list

  # <commit date YYYY-MM-DD> <hash> <title> <decoration>
  logger = log --color=always --graph --pretty=format:'%C(green)%cs %C(bold yellow)%h %C(bold white)%s%C(reset) %C(auto)%d%C(reset)' --abbrev-commit

