[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pull]
	rebase = true
[user]
	email = watasuke102@gmail.com
	name = watasuke102
[alias]
	ch = checkout
	b  = branch
	f  = fetch
	sync = remote update -p
	spu  = stash push -u
	spo  = stash pop
	spa  = stash apply

