* {
    font-family: "Moralerspace Krypton HWJPDOCNF", sans-serif;
    font-size: 16px;
}

#window {
    background-color: #282c34;
    border: 1px solid #abb2bf;
    border-radius: 2px;
}

#input {
    padding-bottom: 4px;
    border-radius: 0;
    border: none;
    background-color: #282c34;
    color: #abb2bf;
}
#input:focus {
    outline: none;
    outline: 1px solid #98c379;
}

#inner-box {
    color: #abb2bf;
    background-color: #282c34;
}

#outer-box {
    margin: 8px;
    background-color: #282c34;
}

#scroll {
}

#entry {
    border-radius: 0;
}
#entry:nth-child(even){
    background-color: #484d56;
}
#entry:nth-child(odd){
    background-color: #282c34;
}

#entry:selected {
    color: #282c34;
    background-color: #98c379;
}

#text {
    padding: 4px;
    color: #abb2bf;
}
#text:selected {
    font-weight: bold;
    color: #282c34;
}

#expander-box:hover {
    background-color: red;
}

